@font-face {
  font-family: "SF Pro Display";
  src: url("./SFProDisplay-Bold.woff2") format("woff2"),
    url("./SFProDisplay-Bold.woff") format("woff"),
    url("./SFProDisplay-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./SFProDisplay-Regular.woff2") format("woff2"),
    url("./SFProDisplay-Regular.woff") format("woff"),
    url("./SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("./SFProDisplay-Medium.woff2") format("woff2"),
    url("./SFProDisplay-Medium.woff") format("woff"),
    url("./SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
