@font-face {
  font-family: "icomoon";
  src: url("./fonts/icomoon.eot?2uxvfj");
  src: url("./fonts/icomoon.eot?2uxvfj#iefix") format("embedded-opentype"),
    url("./fonts/icomoon.ttf?2uxvfj") format("truetype"),
    url("./fonts/icomoon.woff?2uxvfj") format("woff"),
    url("./fonts/icomoon.svg?2uxvfj#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-login:before {
  content: "\e900";
}
.icon-call:before {
  content: "\e901";
}
