<script>
export default {
  name: "HomePage",
  data: () => ({
    message: "Hello Vue.js!",
  }),
};
</script>

<template>
  <div class="page">
    <img class="background" src="../assets/media/bg.png" alt="background" />
    <div class="container">
      <head class="header">
        <a href="/">
          <img src="../assets/media/logo.svg" alt="logo" />
        </a>
        <div class="header-buttons">
          <Button primary title="Call us" icon="call" />
          <Button withBorder title="Login" icon="login" />
        </div>
      </head>
    </div>
    <PerspectiveButton title="Get Started" class="start-button" />
  </div>
</template>

<style scoped>
.background {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
.header {
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-buttons {
  display: flex;
  gap: 1.2rem;
}
.start-button {
  position: absolute !important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10%;
}
</style>
