<script>
export default {
  name: "Button",
  props: {
    container: {
      validator: (val) => ["button", "a"].includes(val),
      default: "button",
    },
    primary: Boolean,
    withBorder: Boolean,
    reverse: Boolean,
    title: String,
    icon: String,
  },
};
</script>

<template>
  <component
    :is="container"
    :class="[
      'button',
      {
        animated: primary || withBorder,
        primary,
        withBorder,
        reverse,
      },
    ]"
  >
    <i v-if="icon" :class="['icon-' + icon, 'icon']" />
    <span v-if="title" class="title">{{ title }}</span>
  </component>
</template>

<style scoped>
:root {
  --background: transparent;
  --text-color: var(--color-text-1);
}
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.5rem;
  background: var(--background);
  position: relative;
  gap: 0.6rem;
}
.button.animated {
  --text-color: var(--color-text-2);
  overflow: hidden;
  transition: 0.35s cubic-bezier(0.71, 0.36, 0.54, 1.13);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.button.primary {
  --background: var(--color-bg-2);
  padding: 0.9rem 3.4rem;
}
.button.withBorder {
  --background: var(--color-bg-1);
  padding: 0.9rem 3.4rem;
  border: solid 2px var(--color-border-1);
}
.button.reverse {
  flex-direction: row-reverse;
}
.button.animated:hover {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
}
.button.animated::before,
.button.animated::after {
  content: "";
  position: absolute;
  background: var(--color-bg-3);
  opacity: 0.8;
  top: 0;
  height: 100%;
  width: 120%;
  left: -10%;
  transform: skew(-30deg) translate3d(100%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
  z-index: 2;
}
.button.animated::before {
  background: linear-gradient(
    135deg,
    var(--color-primary),
    var(--color-primary),
    var(--color-secondary)
  );
  opacity: 1;
  z-index: 1;
  transition-delay: 0.04s;
}
.button.animated:hover::before,
.button.animated:hover::after {
  transform: skew(-30deg) translate3d(0%, 0, 0);
  transition-delay: 0s;
}
.button.animated:hover::after {
  transition-delay: 0.05s;
}
.title,
.icon {
  font-size: 1rem;
  font-weight: 500;
  color: var(--text-color);
  letter-spacing: 1px;
}
.icon {
  font-size: 1.4rem;
}
.button.animated .title,
.button.animated .icon {
  mix-blend-mode: difference;
  z-index: 3;
  position: relative;
}
</style>
