<script>
import gsap from "gsap";

export default {
  name: "PerspectiveButton",
  props: {
    title: String,
  },
  methods: {
    mouseleave: function () {
      gsap.to(this.$refs.stage, {
        rotateX: 0,
        rotateY: 0,
        duration: 0.7,
        ease: "sine.out",
      });
    },
    mousemove: function (e) {
      const { x, y, width, height } = e.target.getBoundingClientRect();
      let halfWidth = width / 2;
      let halfHeight = height / 2;
      let calcAngleX = (Math.abs(x - e.clientX) - halfWidth) / 8;
      let calcAngleY = (Math.abs(y - e.clientY) - halfHeight) / 6;
      gsap.to(this.$refs.stage, {
        rotateX: -1 * calcAngleY,
        rotateY: calcAngleX,
        duration: 0.5,
        ease: "sine.out",
      });
    },
  },
};
</script>

<template>
  <button
    class="perspectiveButton"
    @mouseleave="mouseleave"
    @mousemove="mousemove"
  >
    <div class="stage" ref="stage">
      <div class="layer" ref="layer1"></div>
      <span class="title">{{ title }}</span>
      <div class="layer" ref="layer2"></div>
    </div>
  </button>
</template>

<style scoped>
.perspectiveButton {
  display: flex;
  cursor: pointer;
  padding: 0.5rem;
  background: var(--background);
  position: relative;
  gap: 0.6rem;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.stage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  transform-style: preserve-3d;
  padding: 1.3rem 4rem;
  transform: rotateX(0deg);
}
.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-origin: center center;
  z-index: 1;
}
.layer:first-child {
  background: var(--color-bg-1);
  transform: translateZ(-150px) scale3d(0.95, 1, 1) translateY(15%);
}
.layer:last-child {
  background: hsla(0, 0%, 100%, 0.5);
  box-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 20%);
  backdrop-filter: blur(4px);
  transform: translateZ(-100px);
}
.title {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  z-index: 3;
  transform: translateZ(-50px);
  text-shadow: 0 0.4rem 0.8rem rgb(0 0 0 / 10%);
}
.icon {
  font-size: 1.4rem;
}
.button.animated .title,
.button.animated .icon {
  mix-blend-mode: difference;
  z-index: 3;
  position: relative;
}
</style>
