html {
  font-size: 100%;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  min-height: 100vh;
  overflow-x: hidden;
  line-height: 1.4;
  color: var(--color-text-1);
}
.container {
  max-width: 87rem;
  width: calc(100% - var(--margin-container));
  margin: 0 auto;
  position: relative;
}
.page {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  overflow: hidden;
}

/* -------------- TYPOGRAPHY -------------- */

.head1 {
  font-size: 3rem;
  font-weight: 800;
}

/* ----------Media Queries---------- */

@media screen and (max-width: 1680px) {
  html {
    font-size: 97%;
  }
}
@media screen and (max-width: 1440px) {
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 94%;
  }
}
@media screen and (max-width: 992px) {
  body {
    overscroll-behavior-y: none;
  }
  html {
    font-size: 91%;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 88%;
  }
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 480px) {
  html {
    font-size: 85%;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 82%;
  }
}
