:root {
  --color-primary: #7e4d43;
  --color-secondary: #f5d5b7;

  --color-text-1: #000;
  --color-text-2: #fff;

  --color-bg-1: #ffffff;
  --color-bg-2: #ececec;
  --color-bg-3: #000;

  --color-border-1: #000;

  --margin-container: 12rem;

  --font-family: "SF Pro Display";
}
